.PromoCodeForm {

  & .OrderForm-row {
    margin: 0 0 15px;
  }

  &-applyBtn {
    display: inline-block;
    min-width: 160px;
    margin: 0 auto;
    padding: 10px 12px;

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    background-color: #ff5d86;
    cursor: pointer;
    transition: opacity 300ms ease-in;
    &:focus,
    &:hover {
      opacity: .9;
    }
  }

  &-result {
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #7b7c8c;
  }
}
