@import "../../utils/variables";
@import "../../utils/mixins";
.auth-base{
  @include auth-page;
  width: 484px;
  padding: 75px 90px;
  align-self: center;
  margin: 50px 0;

  .header-icon {
    margin: 0 auto 20px;
    display: block;
  }

  h1 {
    text-align: center;
    margin-bottom: 45px;
  }

  .input-container {
    margin-bottom: 20px;
  }

  .btn {
    display: block;
    width: 100%;
    margin-top: 40px;
  }

  .urls-container {
    margin-top: 40px;
    text-align: center;
  }
}