@import "../../utils/variables";
.notifications {
  .title-container {
    padding: 75px 0 0;

    h2 {
      font-size: 39px;
      color: #5c617a;
      font-weight: normal;
    }
  }

  .table-container {
    padding: 50px 0;
  }

  .notifications-table {
    width: 100%;

    tbody {
      tr {
        cursor: pointer;

        &:hover {
          background-color: #fff;
          box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }

    tr {
      border-bottom: 1px solid $border-color;
      transition: all 0.3s ease-in-out;

      td, th {
        padding: 20px 30px;
        text-align: left;
      }

      th {
        font-size: 14px;
        font-weight: 600;
      }

      td {
        font-size: 15px;
        font-weight: 500;
        width: 150px;

        &.message {
          width: 100%;
        }

        &.date {
          width: 1px;
          white-space: nowrap;
        }

        &.buttons {
          width: 20px;
          padding: 20px 10px;
          text-align: right;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: start;
    margin-top: 40px;

    li {
      padding: 10px;
      flex: 0 0 auto;
      border-radius: 50%;
      border: 1px solid;
      margin: 0 5px;

      a {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .active {
      color: $warm-pink;

      a {
        color: $warm-pink;
      }
    }
  }
}