[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
sphinx = "*"
coverage = "*"
"flake8" = "*"
pytest = "*"
tox = "*"

[packages]
django = "==2.2.6"
pillow = "*"
django-custom-user = "*"
django-allauth = "*"
django-compressor = "*"
django-webpack-loader = "*"
djangorestframework = "*"
"newspaper3k" = "*"
stripe = "==2.36.2"
django-annoying = "*"
django-storages = "*"
django-ses = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-colorfield = "*"
django-ordered-model = "*"
sentry-sdk = "==0.11.2"
django-filter = "*"
django-plotly-dash = "*"
dash-table = "*"
pandas = "*"
paginate = "*"
iso3166 = "*"
django-extensions = "*"
django-libsass = "*"
dash-core-components = "*"
psycopg2 = {git = "https://github.com/robd003/psycopg2.git",ref = "timestamptz_fix_for_cratedb"}
uwsgi = "*"
django-redis = "*"
dj-stripe = "*"
django-hosts = "*"
easy-thumbnails = "*"
