{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ narration.title }}</title>
    <link rel="stylesheet" href="{% static "assets/css/style.min.css" %}">
    <link rel="alternate" type="application/json+oembed" href="https://data.voxsnap.com/oembed?url={{ request.build_absolute_uri|urlencode:"" }}" title="{{ narration.title }}" />
    <meta property="fb:app_id" content="620074461518868" />
    <meta property="og:type"   content="music.song" />
    <meta property="og:url"    content="{{ narration.get_absolute_url }}" />
    <meta property="og:title"  content="{{ narration.title }}" />
    <meta property="og:image" content="{{ narration.image }}" />
    <meta property="og:description" content="{{ narration.description }}" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="@VoxSnap" />
    <meta name="twitter:image" content="{{ narration.image }}" />
    <meta name="twitter:description" content="{{ narration.description }}" />
    <meta name="twitter:player" content="{% url 'twitter_page' company_name=narration.customer.short_name slug=narration.slug host 'embedded' %}" />
    <meta name="twitter:player:width" content="550" />
    <meta name="twitter:player:height" content="168" />
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '335969666975527');
    fbq('track', 'PageView');
    </script>
  </head>
  <body>
    <header class="library-header">
      <div class="library-header__wrapper">
        <a href="{% url 'library' %}" class="library-header__logo-link library-header__logo-link--audiohub" title="VoxSnap Audiohub">
          <img src="{% static "assets/img/logo-gray@2x.png" %}" width="136" height="18" alt="" class="audiohub-vx-img">
          <img src="{% static "assets/img/logo-audiohub.png" %}" width="151" height="18" alt="" class="audiohub-hub-img">
        </a>
      </div>
    </header>

    <section class="library-post">
      <div class="library-post__cover" style="background-image: url({{ narration.featured_image.url|default:"https://cdn.voxsnap.com/media/uploads/narration/default.png"}})"></div>

      <section class="ask-va @@class-modifier">
  <div class="ask-va__wrapper">
    <div class="ask-va__inner">
      {% if narration.customer.amazon_alexa %}
      <section class="ask-va__item">
        <div class="ask-va__title"><span>Ask your</span> Voice Assistant</div>
        <div class="ask-va__content">
          <div class="ask-va__logo">
            <img src="{% static "assets/img/library/va-alexa-rounded.png" %}" width="46" height="46" alt="Alexa" />
          </div>
          <p class="ask-va__text">
            <span>Alexa,</span> tell VoxSnap to play posts from {{ narration.customer.company_name }}
          </p>
        </div>
      </section>
      {% endif %}
      {% if narration.customer.podcasts %}
      <section class="ask-va__item">
        <div class="ask-va__title"><span>Find in your</span> Podcast App</div>
        <div class="ask-va__content ask-va__podcast">
          <div class="ask-va__logo">
            <img src="{% static "assets/img/library/apple-podcasts.jpg" %}" width="46" height="45" alt="Siri" />
          </div>
          <p class="ask-va__podcast-text">Listen in <span>Podcasts</span></p>
        </div>
      </section>
      {% endif %}
    </div>
  </div>
</section>


      <div class="library-post__wrapper">
        <div class="library-post__categories">
          <div class="library-post__category">
            <span class="category">{{ narration.get_main_category_name }}</span><span class="subcategory">{{ narration.get_sub_category_name }}</span>
          </div>
        </div>
        <div class="library-post__data">
          <h2 class="library-post__title">{{ narration.title }}</h2>
        </div>

        <div class="library-post__player"><div id="voxsnap-player"></div></div>

        <div class="library-post__info">
          <div class="library-post__publisher">
            <span>Originally published at</span>
            <a target="_blank" href="{{ narration.customer.website }}">{{ narration.customer.website_display }}</a>
          </div>
          <div class="library-post__link">
            <span>Check out the</span>
            <a target="_blank" href="https://voxsnap.com/audiohub/{{ narration.customer.short_name }}">{{ narration.customer.company_name }} Audiohub Page</a>
          </div>
        </div>
      </div>
    </section>

    <section class="library-post">
      <div class="library-post__wrapper">
        <div class="library-post__text">
          {{ narration.content|linebreaks|truncatewords:450 }}
        </div>
        <div class="library-post__see-more">
          <a target="_blank" href="{{ narration.url }}">See the rest at <span>{{ narration.customer.website_display }}</span></a>
        </div>
      </div>
    </section>

          </div>
        </div>
      </div>
    </section>

    <footer class="main-footer">
  <div class="main-footer__wrapper">
    <div class="main-footer__social">
      <a href="https://www.facebook.com/VoxSnap/" target="_blank" class="main-footer__social-link">
        <img src="{% static "assets/img/icon_fb.png" %}" width="20" height="20" alt="FaceBook">
      </a>
      <a href="https://twitter.com/VoxSnap/" target="_blank" class="main-footer__social-link">
        <img src="{% static "assets/img/icon_tw.png" %}" width="25" height="20" alt="Twitter">
      </a>
      <a href="https://www.instagram.com/voxsnap/" target="_blank" class="main-footer__social-link">
        <img src="{% static "assets/img/icon_ins.png" %}" width="22" height="21" alt="Instagram">
      </a>
    </div>
    <div class="main-footer__info">
      <p class="made">
        <span>Made in </span>
        <span><img src="{% static "assets/img/us-flag.png" %}" width="20" height="15" alt="USA"></span>
      </p>
      <p class="legal">
        <a href="{% url 'terms' %}">Terms of Use</a>
        <a href="{% url 'privacy' %}">Privacy Policy</a>
      </p>
      <p class="copyright">
        Copyright &copy; {% now 'Y' %} VoxSnap Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>

    {% if PRODUCTION %}
    <script async type="text/javascript" src="https://data.voxsnap.com/player/v1/{{ narration.customer.short_name}}/voxsnap.js" data-username="{{ narration.customer.short_name}}" data-narration="{{ narration.id }}"></script>
    {% else %}
    <script src="http://localhost:1337/voxsnap_player_oop.js" type="module" data-username="{{ narration.customer.short_name}}" data-narration="{{ narration.id }}" async></script>
    {% endif %}
    <script src="{% static "assets/js/script.js" %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93567103-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-93567103-2');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=335969666975527&ev=PageView&noscript=1" /></noscript>
  </body>
</html>
