{% load static compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{% endblock %} | {{ PROJECT_NAME }}</title>

    {% compress css %}
      {# <link rel="stylesheet" type="text/x-scss" href="{% static 'css/custom-style.scss' %}"/> #}
    {% endcompress %}
    <link rel="stylesheet" href="{% static "assets/css/style.min.css" %}">

    {% block styles %}{% endblock %}

    {{ HEAD_CLOSING|safe }}
  </head>
  <body>
    {% csrf_token %}

    {% block content %}{% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93567103-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-93567103-1');
    </script>
    {% include "parts/scripts.html" %}

    {% block scripts %}{% endblock %}

    {{ BODY_CLOSING|safe }}
  </body>
</html>
